{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "env": {
    "node": true,
    "es6": true,
    "react-native/react-native": true,
  },
  "rules": {
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "block-spacing": [ 2 ],
    "no-spaced-func": [ 2 ],
    "curly": [ 2, "multi-line" ],
    "semi": [ 2, "never" ],
    "no-eval": [ 2 ],
    "no-multi-spaces": [ 2 ],
    "no-undef": [ 2 ],
    "quotes": [ 2, "single" ],
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
    }
  },
  "globals": {
    "describe": false,
    "it": false,
    "expect": false,
  }
}
